@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter"; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common shared styles */
p {
  color: rgba(255, 255, 255, 0.5);
}
h4{
  color: white;
  font-weight: 600;
}
h3{
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
/* header navbar styles */
body {
  background-color: rgba(0, 0, 0, 0.781);
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}

.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}

.nav-menu {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
  outline: 0.5px solid rgba(255, 255, 255, 0.185);
  border-radius: 40px;
}

.home {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.banner-content {
  width: 50%;
}

.banner-title {
  color: white;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 30px;
}

.banner-btn-1,
.banner-btn-2, .btn-primary {
  text-align: center;
  border-radius: 42px;
  color: white;
  padding: 16px 40px;
  margin-top: 20px;
}

.banner-btn-1 {
  border: none;
  background-color: rgb(230, 83, 60);
}

.banner-btn-2 {
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
  margin-left: 15px;
}

.banner-img {
  position: relative;
}

.free-workout {
  position: absolute;
  /* right: -30px;
  top: 160px; */
  padding: 10px;
  right: -15%;
  top: 25%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}

.tutorial-video {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  position: absolute;
  left: -13%;
  bottom: 15%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.circule {
  height: 20px;
  width: 20px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
/* habit section styles start here */
.habit-section{

  max-width: 1200px;
  margin: 50px auto;
}
.habit-text{
  text-align: center;
}
.card-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card{
   /* display: flex;
   flex-direction: column; */
   text-align: center;
}
.card h4 {
  margin-bottom: 10px; /* h4 এবং p-এর মধ্যে নিচে 10px gap */
}
.card img{
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 10px black;
}
.extra-run-section{
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  padding: 20px;
  background: rgb(34, 34, 34);
}
.run-text-container{
  padding-left: 20px;
}
.run-title{
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

.run-img-container img{
  width: 350px;
  border-radius: 18px;
  /* background: url(4); */
}

.btn-primary{
  margin-top: 30px;
  width: 220px;
  background-color: rgb(230, 83, 60);
}